<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.superid">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SuperID"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperID"
        tools:targetApi="31">

        <!-- Tela inicial -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela de cadastro -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />

        <!-- Tela de login -->
        <activity
            android:name=".SignInActivity"
            android:exported="true" />

        <!-- Tela de gerenciamento de senhas -->
        <activity
            android:name=".PasswordManagerActivity"
            android:exported="true" />

        <!-- Tela dashboard -->
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />

        <!-- Tela de configuracao de conta -->
        <activity
            android:name=".AccountConfigActivity"
            android:exported="true" />

        <!-- Tela de validacao do email -->
        <activity
            android:name=".EmailVerificationActivity"
            android:exported="true" />

    </application>

</manifest>
